body {
  background: radial-gradient(
    circle at center,
    #ff9eb5 0%,   
    #c2185b 40%,   
    #3a0015 75%,  
    #000000 100%    
)}



.container {
  display: flex;
  align-items: center;
  background-color: black;
  display: flex;
  margin: 5px;
  height: 450px;
  width: 400px;
  border-radius: 20px;
  position: relative;
  left: 540px;
  top: 100px;
  padding: 10px;
}

.containerinput {
  display: flex;
  height: 100px;
  width: 280px;
  display: block;
  position: absolute;
  top: 40px;
}
.input {
  height: 50px;
  width: 300px;
  align-items: center;
  position: relative;
  margin: 6px;
  border-radius: 10px;
  text-align: right;
  font-weight: bolder;
  font-size: xx-large;
  margin-left: 43px;
}

.buttonsbox {
  height: 300px;
  margin: 5px;
  gap: 5px;
  display: inline-block;
  align-items: center;
  position: relative;
  top: 50px;
  width: 300px;
  left: 50px;
}

.seven {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  display: inline-block;
}

.eight {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  display: inline-block;
}

.nine {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  display: inline-block;
}

.plus {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: pink;
  color: black;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 5px;
  display: inline-block;
}

.four {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.five {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.six {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.minus {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: pink;
  color: black;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.one {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.two {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.three {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.multiply {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: pink;
  color: black;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.allClear {
  height: 70px;
  width: 60px;
  padding: 5px;
  border: 2px;

  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: px;
  margin-top: 10px;
  display: inline-block;
}

.zero {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: grey;
  color: pink;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.equal {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: pink;
  color: black;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}

.division {
  height: 70px;
  width: 50px;
  padding: 5px;
  border: 2px;
  background-color: pink;
  color: black;
  font-weight: bold;
  font-size: larger;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}
